* {
    max-width: 100%;
    text-overflow: ellipsis;
}

:not(li),
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input,
button,
textarea,
:focus {
    outline: none;
}

body {
    background-color: #fafafa;
    padding-bottom: 4rem;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    max-width: 95vw;
    width: 90%;
}
@media only screen and (min-width: 601px) {
    .container {
        width: 90% !important;
    }
}
@media only screen and (min-width: 993px) {
    .container {
        width: 80% !important;
    }
}

.brand-logo {
    pointer-events: none;
    cursor: default;
}

.table-container {
    overflow: auto;
}

.csv-upload-container {
    height: 100%;
    align-items: center;
}

#file-drop {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#csv-info {
    padding-right: 1rem;
}

#file-name {
    font-weight: 600;
    margin-bottom: 3rem;
}

#new-file {
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.accordion-arrow {
    transform: rotate(90deg);
    transition: transform 0.2s ease-out;
}

.accordion-arrow.expanded {
    transform: rotate(270deg);
}

.page-footer {
    padding-top: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#tts-string-preview-container,
#file-name-preview-container {
    visibility: hidden;
}

#tts-string-preview,
#file-name-preview {
    font-weight: 600;
}

#audio-errors {
    margin: 0;
    margin-bottom: 1rem;
    font-weight: 600;
}

.lever {
    margin-left: 0.6rem !important;
}

#voices-ul {
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.card-content {
    padding: 2rem !important;
}

#install-voice-status {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

input[type="text"] {
    cursor: auto;
}
