body {
    background-color: #fafafa;
    max-height: 100vh;
}

.csv-upload-container {
    height: 100%;
    align-items: center;
}

#file-drop {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#csv-info {
    padding-right: 1rem;
}
